#emoji-smileys a {
  margin: 5px;
}

#emojy-smileys-show-more,
#emojy-smileys-hide-more {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

#emojy-smileys-more.hide {
  display: none;
}

p [class^="emoji-"] {
  vertical-align: text-bottom;
}

*[class^="emoji-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(csg-5155df7c7d68a.png) no-repeat top left;
}

.emoji-e001{ background-position: 0 0; }
.emoji-e002{ background-position: 0 -21px; }
.emoji-e003{ background-position: 0 -42px; }
.emoji-e004{ background-position: 0 -63px; }
.emoji-e005{ background-position: 0 -84px; }
.emoji-e006{ background-position: 0 -105px; }
.emoji-e007{ background-position: 0 -126px; }
.emoji-e008{ background-position: 0 -147px; }
.emoji-e009{ background-position: 0 -168px; }
.emoji-e00a{ background-position: 0 -189px; }
.emoji-e00b{ background-position: 0 -210px; }
.emoji-e00c{ background-position: 0 -231px; }
.emoji-e00d{ background-position: 0 -252px; }
.emoji-e00e{ background-position: 0 -273px; }
.emoji-e00f{ background-position: 0 -294px; }
.emoji-e010{ background-position: 0 -315px; }
.emoji-e011{ background-position: 0 -336px; }
.emoji-e012{ background-position: 0 -357px; }
.emoji-e013{ background-position: 0 -378px; }
.emoji-e014{ background-position: 0 -399px; }
.emoji-e015{ background-position: 0 -420px; }
.emoji-e016{ background-position: 0 -441px; }
.emoji-e017{ background-position: 0 -462px; }
.emoji-e018{ background-position: 0 -483px; }
.emoji-e019{ background-position: 0 -504px; }
.emoji-e01a{ background-position: 0 -525px; }
.emoji-e01b{ background-position: 0 -546px; }
.emoji-e01c{ background-position: 0 -567px; }
.emoji-e01d{ background-position: 0 -588px; }
.emoji-e01e{ background-position: 0 -609px; }
.emoji-e01f{ background-position: 0 -630px; }
.emoji-e020{ background-position: 0 -651px; }
.emoji-e021{ background-position: 0 -672px; }
.emoji-e022{ background-position: 0 -693px; }
.emoji-e023{ background-position: 0 -714px; }
.emoji-e024{ background-position: 0 -735px; }
.emoji-e025{ background-position: 0 -756px; }
.emoji-e026{ background-position: 0 -777px; }
.emoji-e027{ background-position: 0 -798px; }
.emoji-e028{ background-position: 0 -819px; }
.emoji-e029{ background-position: 0 -840px; }
.emoji-e02a{ background-position: 0 -861px; }
.emoji-e02b{ background-position: 0 -882px; }
.emoji-e02c{ background-position: 0 -903px; }
.emoji-e02d{ background-position: 0 -924px; }
.emoji-e02e{ background-position: 0 -945px; }
.emoji-e02f{ background-position: 0 -966px; }
.emoji-e030{ background-position: 0 -987px; }
.emoji-e031{ background-position: 0 -1008px; }
.emoji-e032{ background-position: 0 -1029px; }
.emoji-e033{ background-position: 0 -1050px; }
.emoji-e034{ background-position: 0 -1071px; }
.emoji-e035{ background-position: 0 -1092px; }
.emoji-e036{ background-position: 0 -1113px; }
.emoji-e037{ background-position: 0 -1134px; }
.emoji-e038{ background-position: 0 -1155px; }
.emoji-e039{ background-position: 0 -1176px; }
.emoji-e03a{ background-position: 0 -1197px; }
.emoji-e03b{ background-position: 0 -1218px; }
.emoji-e03c{ background-position: 0 -1239px; }
.emoji-e03d{ background-position: 0 -1260px; }
.emoji-e03e{ background-position: 0 -1281px; }
.emoji-e03f{ background-position: 0 -1302px; }
.emoji-e040{ background-position: 0 -1323px; }
.emoji-e041{ background-position: 0 -1344px; }
.emoji-e042{ background-position: 0 -1365px; }
.emoji-e043{ background-position: 0 -1386px; }
.emoji-e044{ background-position: 0 -1407px; }
.emoji-e045{ background-position: 0 -1428px; }
.emoji-e046{ background-position: 0 -1449px; }
.emoji-e047{ background-position: 0 -1470px; }
.emoji-e048{ background-position: 0 -1491px; }
.emoji-e049{ background-position: 0 -1512px; }
.emoji-e04a{ background-position: 0 -1533px; }
.emoji-e04b{ background-position: 0 -1554px; }
.emoji-e04c{ background-position: 0 -1575px; }
.emoji-e04d{ background-position: 0 -1596px; }
.emoji-e04e{ background-position: 0 -1617px; }
.emoji-e04f{ background-position: 0 -1638px; }
.emoji-e050{ background-position: 0 -1659px; }
.emoji-e051{ background-position: 0 -1680px; }
.emoji-e052{ background-position: 0 -1701px; }
.emoji-e053{ background-position: 0 -1722px; }
.emoji-e054{ background-position: 0 -1743px; }
.emoji-e055{ background-position: 0 -1764px; }
.emoji-e056{ background-position: 0 -1785px; }
.emoji-e057{ background-position: 0 -1806px; }
.emoji-e058{ background-position: 0 -1827px; }
.emoji-e059{ background-position: 0 -1848px; }
.emoji-e05a{ background-position: 0 -1869px; }
.emoji-e101{ background-position: 0 -1890px; }
.emoji-e102{ background-position: 0 -1911px; }
.emoji-e103{ background-position: 0 -1932px; }
.emoji-e104{ background-position: 0 -1953px; }
.emoji-e105{ background-position: 0 -1974px; }
.emoji-e106{ background-position: 0 -1995px; }
.emoji-e107{ background-position: -21px 0; }
.emoji-e108{ background-position: -21px -21px; }
.emoji-e109{ background-position: -21px -42px; }
.emoji-e10a{ background-position: -21px -63px; }
.emoji-e10b{ background-position: -21px -84px; }
.emoji-e10c{ background-position: -21px -105px; }
.emoji-e10d{ background-position: -21px -126px; }
.emoji-e10e{ background-position: -21px -147px; }
.emoji-e10f{ background-position: -21px -168px; }
.emoji-e110{ background-position: -21px -189px; }
.emoji-e111{ background-position: -21px -210px; }
.emoji-e112{ background-position: -21px -231px; }
.emoji-e113{ background-position: -21px -252px; }
.emoji-e114{ background-position: -21px -273px; }
.emoji-e115{ background-position: -21px -294px; }
.emoji-e116{ background-position: -21px -315px; }
.emoji-e117{ background-position: -21px -336px; }
.emoji-e118{ background-position: -21px -357px; }
.emoji-e119{ background-position: -21px -378px; }
.emoji-e11a{ background-position: -21px -399px; }
.emoji-e11b{ background-position: -21px -420px; }
.emoji-e11c{ background-position: -21px -441px; }
.emoji-e11d{ background-position: -21px -462px; }
.emoji-e11e{ background-position: -21px -483px; }
.emoji-e11f{ background-position: -21px -504px; }
.emoji-e120{ background-position: -21px -525px; }
.emoji-e121{ background-position: -21px -546px; }
.emoji-e122{ background-position: -21px -567px; }
.emoji-e123{ background-position: -21px -588px; }
.emoji-e124{ background-position: -21px -609px; }
.emoji-e125{ background-position: -21px -630px; }
.emoji-e126{ background-position: -21px -651px; }
.emoji-e127{ background-position: -21px -672px; }
.emoji-e128{ background-position: -21px -693px; }
.emoji-e129{ background-position: -21px -714px; }
.emoji-e12a{ background-position: -21px -735px; }
.emoji-e12b{ background-position: -21px -756px; }
.emoji-e12c{ background-position: -21px -777px; }
.emoji-e12d{ background-position: -21px -798px; }
.emoji-e12e{ background-position: -21px -819px; }
.emoji-e12f{ background-position: -21px -840px; }
.emoji-e130{ background-position: -21px -861px; }
.emoji-e131{ background-position: -21px -882px; }
.emoji-e132{ background-position: -21px -903px; }
.emoji-e133{ background-position: -21px -924px; }
.emoji-e134{ background-position: -21px -945px; }
.emoji-e135{ background-position: -21px -966px; }
.emoji-e136{ background-position: -21px -987px; }
.emoji-e137{ background-position: -21px -1008px; }
.emoji-e138{ background-position: -21px -1029px; }
.emoji-e139{ background-position: -21px -1050px; }
.emoji-e13a{ background-position: -21px -1071px; }
.emoji-e13b{ background-position: -21px -1092px; }
.emoji-e13c{ background-position: -21px -1113px; }
.emoji-e13d{ background-position: -21px -1134px; }
.emoji-e13e{ background-position: -21px -1155px; }
.emoji-e13f{ background-position: -21px -1176px; }
.emoji-e140{ background-position: -21px -1197px; }
.emoji-e141{ background-position: -21px -1218px; }
.emoji-e142{ background-position: -21px -1239px; }
.emoji-e143{ background-position: -21px -1260px; }
.emoji-e144{ background-position: -21px -1281px; }
.emoji-e145{ background-position: -21px -1302px; }
.emoji-e146{ background-position: -21px -1323px; }
.emoji-e147{ background-position: -21px -1344px; }
.emoji-e148{ background-position: -21px -1365px; }
.emoji-e149{ background-position: -21px -1386px; }
.emoji-e14a{ background-position: -21px -1407px; }
.emoji-e14b{ background-position: -21px -1428px; }
.emoji-e14c{ background-position: -21px -1449px; }
.emoji-e14d{ background-position: -21px -1470px; }
.emoji-e14e{ background-position: -21px -1491px; }
.emoji-e14f{ background-position: -21px -1512px; }
.emoji-e150{ background-position: -21px -1533px; }
.emoji-e151{ background-position: -21px -1554px; }
.emoji-e152{ background-position: -21px -1575px; }
.emoji-e153{ background-position: -21px -1596px; }
.emoji-e154{ background-position: -21px -1617px; }
.emoji-e155{ background-position: -21px -1638px; }
.emoji-e156{ background-position: -21px -1659px; }
.emoji-e157{ background-position: -21px -1680px; }
.emoji-e158{ background-position: -21px -1701px; }
.emoji-e159{ background-position: -21px -1722px; }
.emoji-e15a{ background-position: -21px -1743px; }
.emoji-e201{ background-position: -21px -1764px; }
.emoji-e202{ background-position: -21px -1785px; }
.emoji-e203{ background-position: -21px -1806px; }
.emoji-e204{ background-position: -21px -1827px; }
.emoji-e205{ background-position: -21px -1848px; }
.emoji-e206{ background-position: -21px -1869px; }
.emoji-e207{ background-position: -21px -1890px; }
.emoji-e208{ background-position: -21px -1911px; }
.emoji-e209{ background-position: -21px -1932px; }
.emoji-e20a{ background-position: -21px -1953px; }
.emoji-e20b{ background-position: -21px -1974px; }
.emoji-e20c{ background-position: -21px -1995px; }
.emoji-e20d{ background-position: -42px 0; }
.emoji-e20e{ background-position: -42px -21px; }
.emoji-e20f{ background-position: -42px -42px; }
.emoji-e210{ background-position: -42px -63px; }
.emoji-e211{ background-position: -42px -84px; }
.emoji-e212{ background-position: -42px -105px; }
.emoji-e213{ background-position: -42px -126px; }
.emoji-e214{ background-position: -42px -147px; }
.emoji-e215{ background-position: -42px -168px; }
.emoji-e216{ background-position: -42px -189px; }
.emoji-e217{ background-position: -42px -210px; }
.emoji-e218{ background-position: -42px -231px; }
.emoji-e219{ background-position: -42px -252px; }
.emoji-e21a{ background-position: -42px -273px; }
.emoji-e21b{ background-position: -42px -294px; }
.emoji-e21c{ background-position: -42px -315px; }
.emoji-e21d{ background-position: -42px -336px; }
.emoji-e21e{ background-position: -42px -357px; }
.emoji-e21f{ background-position: -42px -378px; }
.emoji-e220{ background-position: -42px -399px; }
.emoji-e221{ background-position: -42px -420px; }
.emoji-e222{ background-position: -42px -441px; }
.emoji-e223{ background-position: -42px -462px; }
.emoji-e224{ background-position: -42px -483px; }
.emoji-e225{ background-position: -42px -504px; }
.emoji-e226{ background-position: -42px -525px; }
.emoji-e227{ background-position: -42px -546px; }
.emoji-e228{ background-position: -42px -567px; }
.emoji-e229{ background-position: -42px -588px; }
.emoji-e22a{ background-position: -42px -609px; }
.emoji-e22b{ background-position: -42px -630px; }
.emoji-e22c{ background-position: -42px -651px; }
.emoji-e22d{ background-position: -42px -672px; }
.emoji-e22e{ background-position: -42px -693px; }
.emoji-e22f{ background-position: -42px -714px; }
.emoji-e230{ background-position: -42px -735px; }
.emoji-e231{ background-position: -42px -756px; }
.emoji-e232{ background-position: -42px -777px; }
.emoji-e233{ background-position: -42px -798px; }
.emoji-e234{ background-position: -42px -819px; }
.emoji-e235{ background-position: -42px -840px; }
.emoji-e236{ background-position: -42px -861px; }
.emoji-e237{ background-position: -42px -882px; }
.emoji-e238{ background-position: -42px -903px; }
.emoji-e239{ background-position: -42px -924px; }
.emoji-e23a{ background-position: -42px -945px; }
.emoji-e23b{ background-position: -42px -966px; }
.emoji-e23c{ background-position: -42px -987px; }
.emoji-e23d{ background-position: -42px -1008px; }
.emoji-e23e{ background-position: -42px -1029px; }
.emoji-e23f{ background-position: -42px -1050px; }
.emoji-e240{ background-position: -42px -1071px; }
.emoji-e241{ background-position: -42px -1092px; }
.emoji-e242{ background-position: -42px -1113px; }
.emoji-e243{ background-position: -42px -1134px; }
.emoji-e244{ background-position: -42px -1155px; }
.emoji-e245{ background-position: -42px -1176px; }
.emoji-e246{ background-position: -42px -1197px; }
.emoji-e247{ background-position: -42px -1218px; }
.emoji-e248{ background-position: -42px -1239px; }
.emoji-e249{ background-position: -42px -1260px; }
.emoji-e24a{ background-position: -42px -1281px; }
.emoji-e24b{ background-position: -42px -1302px; }
.emoji-e24c{ background-position: -42px -1323px; }
.emoji-e24d{ background-position: -42px -1344px; }
.emoji-e24e{ background-position: -42px -1365px; }
.emoji-e24f{ background-position: -42px -1386px; }
.emoji-e250{ background-position: -42px -1407px; }
.emoji-e251{ background-position: -42px -1428px; }
.emoji-e252{ background-position: -42px -1449px; }
.emoji-e253{ background-position: -42px -1470px; }
.emoji-e301{ background-position: -42px -1491px; }
.emoji-e302{ background-position: -42px -1512px; }
.emoji-e303{ background-position: -42px -1533px; }
.emoji-e304{ background-position: -42px -1554px; }
.emoji-e305{ background-position: -42px -1575px; }
.emoji-e306{ background-position: -42px -1596px; }
.emoji-e307{ background-position: -42px -1617px; }
.emoji-e308{ background-position: -42px -1638px; }
.emoji-e309{ background-position: -42px -1659px; }
.emoji-e30a{ background-position: -42px -1680px; }
.emoji-e30b{ background-position: -42px -1701px; }
.emoji-e30c{ background-position: -42px -1722px; }
.emoji-e30d{ background-position: -42px -1743px; }
.emoji-e30e{ background-position: -42px -1764px; }
.emoji-e30f{ background-position: -42px -1785px; }
.emoji-e310{ background-position: -42px -1806px; }
.emoji-e311{ background-position: -42px -1827px; }
.emoji-e312{ background-position: -42px -1848px; }
.emoji-e313{ background-position: -42px -1869px; }
.emoji-e314{ background-position: -42px -1890px; }
.emoji-e315{ background-position: -42px -1911px; }
.emoji-e316{ background-position: -42px -1932px; }
.emoji-e317{ background-position: -42px -1953px; }
.emoji-e318{ background-position: -42px -1974px; }
.emoji-e319{ background-position: -42px -1995px; }
.emoji-e31a{ background-position: -63px 0; }
.emoji-e31b{ background-position: -63px -21px; }
.emoji-e31c{ background-position: -63px -42px; }
.emoji-e31d{ background-position: -63px -63px; }
.emoji-e31e{ background-position: -63px -84px; }
.emoji-e31f{ background-position: -63px -105px; }
.emoji-e320{ background-position: -63px -126px; }
.emoji-e321{ background-position: -63px -147px; }
.emoji-e322{ background-position: -63px -168px; }
.emoji-e323{ background-position: -63px -189px; }
.emoji-e324{ background-position: -63px -210px; }
.emoji-e325{ background-position: -63px -231px; }
.emoji-e326{ background-position: -63px -252px; }
.emoji-e327{ background-position: -63px -273px; }
.emoji-e328{ background-position: -63px -294px; }
.emoji-e329{ background-position: -63px -315px; }
.emoji-e32a{ background-position: -63px -336px; }
.emoji-e32b{ background-position: -63px -357px; }
.emoji-e32c{ background-position: -63px -378px; }
.emoji-e32d{ background-position: -63px -399px; }
.emoji-e32e{ background-position: -63px -420px; }
.emoji-e32f{ background-position: -63px -441px; }
.emoji-e330{ background-position: -63px -462px; }
.emoji-e331{ background-position: -63px -483px; }
.emoji-e332{ background-position: -63px -504px; }
.emoji-e333{ background-position: -63px -525px; }
.emoji-e334{ background-position: -63px -546px; }
.emoji-e335{ background-position: -63px -567px; }
.emoji-e336{ background-position: -63px -588px; }
.emoji-e337{ background-position: -63px -609px; }
.emoji-e338{ background-position: -63px -630px; }
.emoji-e339{ background-position: -63px -651px; }
.emoji-e33a{ background-position: -63px -672px; }
.emoji-e33b{ background-position: -63px -693px; }
.emoji-e33c{ background-position: -63px -714px; }
.emoji-e33d{ background-position: -63px -735px; }
.emoji-e33e{ background-position: -63px -756px; }
.emoji-e33f{ background-position: -63px -777px; }
.emoji-e340{ background-position: -63px -798px; }
.emoji-e341{ background-position: -63px -819px; }
.emoji-e342{ background-position: -63px -840px; }
.emoji-e343{ background-position: -63px -861px; }
.emoji-e344{ background-position: -63px -882px; }
.emoji-e345{ background-position: -63px -903px; }
.emoji-e346{ background-position: -63px -924px; }
.emoji-e347{ background-position: -63px -945px; }
.emoji-e348{ background-position: -63px -966px; }
.emoji-e349{ background-position: -63px -987px; }
.emoji-e34a{ background-position: -63px -1008px; }
.emoji-e34b{ background-position: -63px -1029px; }
.emoji-e34c{ background-position: -63px -1050px; }
.emoji-e34d{ background-position: -63px -1071px; }
.emoji-e401{ background-position: -63px -1092px; }
.emoji-e402{ background-position: -63px -1113px; }
.emoji-e403{ background-position: -63px -1134px; }
.emoji-e404{ background-position: -63px -1155px; }
.emoji-e405{ background-position: -63px -1176px; }
.emoji-e406{ background-position: -63px -1197px; }
.emoji-e407{ background-position: -63px -1218px; }
.emoji-e408{ background-position: -63px -1239px; }
.emoji-e409{ background-position: -63px -1260px; }
.emoji-e40a{ background-position: -63px -1281px; }
.emoji-e40b{ background-position: -63px -1302px; }
.emoji-e40c{ background-position: -63px -1323px; }
.emoji-e40d{ background-position: -63px -1344px; }
.emoji-e40e{ background-position: -63px -1365px; }
.emoji-e40f{ background-position: -63px -1386px; }
.emoji-e410{ background-position: -63px -1407px; }
.emoji-e411{ background-position: -63px -1428px; }
.emoji-e412{ background-position: -63px -1449px; }
.emoji-e413{ background-position: -63px -1470px; }
.emoji-e414{ background-position: -63px -1491px; }
.emoji-e415{ background-position: -63px -1512px; }
.emoji-e416{ background-position: -63px -1533px; }
.emoji-e417{ background-position: -63px -1554px; }
.emoji-e418{ background-position: -63px -1575px; }
.emoji-e419{ background-position: -63px -1596px; }
.emoji-e41a{ background-position: -63px -1617px; }
.emoji-e41b{ background-position: -63px -1638px; }
.emoji-e41c{ background-position: -63px -1659px; }
.emoji-e41d{ background-position: -63px -1680px; }
.emoji-e41e{ background-position: -63px -1701px; }
.emoji-e41f{ background-position: -63px -1722px; }
.emoji-e420{ background-position: -63px -1743px; }
.emoji-e421{ background-position: -63px -1764px; }
.emoji-e422{ background-position: -63px -1785px; }
.emoji-e423{ background-position: -63px -1806px; }
.emoji-e424{ background-position: -63px -1827px; }
.emoji-e425{ background-position: -63px -1848px; }
.emoji-e426{ background-position: -63px -1869px; }
.emoji-e427{ background-position: -63px -1890px; }
.emoji-e428{ background-position: -63px -1911px; }
.emoji-e429{ background-position: -63px -1932px; }
.emoji-e42a{ background-position: -63px -1953px; }
.emoji-e42b{ background-position: -63px -1974px; }
.emoji-e42c{ background-position: -63px -1995px; }
.emoji-e42d{ background-position: -84px 0; }
.emoji-e42e{ background-position: -84px -21px; }
.emoji-e42f{ background-position: -84px -42px; }
.emoji-e430{ background-position: -84px -63px; }
.emoji-e431{ background-position: -84px -84px; }
.emoji-e432{ background-position: -84px -105px; }
.emoji-e433{ background-position: -84px -126px; }
.emoji-e434{ background-position: -84px -147px; }
.emoji-e435{ background-position: -84px -168px; }
.emoji-e436{ background-position: -84px -189px; }
.emoji-e437{ background-position: -84px -210px; }
.emoji-e438{ background-position: -84px -231px; }
.emoji-e439{ background-position: -84px -252px; }
.emoji-e43a{ background-position: -84px -273px; }
.emoji-e43b{ background-position: -84px -294px; }
.emoji-e43c{ background-position: -84px -315px; }
.emoji-e43d{ background-position: -84px -336px; }
.emoji-e43e{ background-position: -84px -357px; }
.emoji-e43f{ background-position: -84px -378px; }
.emoji-e440{ background-position: -84px -399px; }
.emoji-e441{ background-position: -84px -420px; }
.emoji-e442{ background-position: -84px -441px; }
.emoji-e443{ background-position: -84px -462px; }
.emoji-e444{ background-position: -84px -483px; }
.emoji-e445{ background-position: -84px -504px; }
.emoji-e446{ background-position: -84px -525px; }
.emoji-e447{ background-position: -84px -546px; }
.emoji-e448{ background-position: -84px -567px; }
.emoji-e449{ background-position: -84px -588px; }
.emoji-e44a{ background-position: -84px -609px; }
.emoji-e44b{ background-position: -84px -630px; }
.emoji-e44c{ background-position: -84px -651px; }
.emoji-e501{ background-position: -84px -672px; }
.emoji-e502{ background-position: -84px -693px; }
.emoji-e503{ background-position: -84px -714px; }
.emoji-e504{ background-position: -84px -735px; }
.emoji-e505{ background-position: -84px -756px; }
.emoji-e506{ background-position: -84px -777px; }
.emoji-e507{ background-position: -84px -798px; }
.emoji-e508{ background-position: -84px -819px; }
.emoji-e509{ background-position: -84px -840px; }
.emoji-e50a{ background-position: -84px -861px; }
.emoji-e50b{ background-position: -84px -882px; }
.emoji-e50c{ background-position: -84px -903px; }
.emoji-e50d{ background-position: -84px -924px; }
.emoji-e50e{ background-position: -84px -945px; }
.emoji-e50f{ background-position: -84px -966px; }
.emoji-e510{ background-position: -84px -987px; }
.emoji-e511{ background-position: -84px -1008px; }
.emoji-e512{ background-position: -84px -1029px; }
.emoji-e513{ background-position: -84px -1050px; }
.emoji-e514{ background-position: -84px -1071px; }
.emoji-e515{ background-position: -84px -1092px; }
.emoji-e516{ background-position: -84px -1113px; }
.emoji-e517{ background-position: -84px -1134px; }
.emoji-e518{ background-position: -84px -1155px; }
.emoji-e519{ background-position: -84px -1176px; }
.emoji-e51a{ background-position: -84px -1197px; }
.emoji-e51b{ background-position: -84px -1218px; }
.emoji-e51c{ background-position: -84px -1239px; }
.emoji-e51d{ background-position: -84px -1260px; }
.emoji-e51e{ background-position: -84px -1281px; }
.emoji-e51f{ background-position: -84px -1302px; }
.emoji-e520{ background-position: -84px -1323px; }
.emoji-e521{ background-position: -84px -1344px; }
.emoji-e522{ background-position: -84px -1365px; }
.emoji-e523{ background-position: -84px -1386px; }
.emoji-e524{ background-position: -84px -1407px; }
.emoji-e525{ background-position: -84px -1428px; }
.emoji-e526{ background-position: -84px -1449px; }
.emoji-e527{ background-position: -84px -1470px; }
.emoji-e528{ background-position: -84px -1491px; }
.emoji-e529{ background-position: -84px -1512px; }
.emoji-e52a{ background-position: -84px -1533px; }
.emoji-e52b{ background-position: -84px -1554px; }
.emoji-e52c{ background-position: -84px -1575px; }
.emoji-e52d{ background-position: -84px -1596px; }
.emoji-e52e{ background-position: -84px -1617px; }
.emoji-e52f{ background-position: -84px -1638px; }
.emoji-e530{ background-position: -84px -1659px; }
.emoji-e531{ background-position: -84px -1680px; }
.emoji-e532{ background-position: -84px -1701px; }
.emoji-e533{ background-position: -84px -1722px; }
.emoji-e534{ background-position: -84px -1743px; }
.emoji-e535{ background-position: -84px -1764px; }
.emoji-e536{ background-position: -84px -1785px; }
.emoji-e537{ background-position: -84px -1806px; }
